.pagination {
  position: relative;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.pagination .pagination-prev,
.pagination .pagination-next {
  color: #df3120;
  font-size: 1.6rem;
  border: 2px solid #df3120;
  line-height: 30px;
  height: 32px;
  padding: 0 20px;
  border-radius: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.pagination .pagination-prev:hover,
.pagination .pagination-next:hover {
  color: #fff;
  background-color: #df3120;
  border-color: #df3120;
}
@media (prefers-color-scheme: dark) {
  .pagination .pagination-prev,
  .pagination .pagination-next {
    color: #df3120;
    border: 1px solid #636366;
  }
  .pagination .pagination-prev:hover,
  .pagination .pagination-next:hover {
    color: #000;
    background-color: #df3120;
    border-color: #df3120;
  }
}
